In [1]:
import pandas as pd

In [28]:
df = pd.read_parquet("yellow_tripdata_2022-01.parquet").iloc[-1000:,:]
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2462931,2,2022-01-31 18:31:40,2022-01-31 18:43:30,NaN,1.79,NaN,None,161,239,0,9.54,0.0,0.5,2.73,0.0,0.3,15.57,NaN,NaN
2462932,2,2022-01-31 18:33:00,2022-01-31 19:02:00,NaN,5.82,NaN,None,94,41,0,31.70,0.0,0.5,0.00,0.0,0.3,32.50,NaN,NaN
2462933,2,2022-01-31 18:06:00,2022-01-31 18:18:00,NaN,1.79,NaN,None,236,41,0,9.75,0.0,0.5,0.70,0.0,0.3,13.75,NaN,NaN
2462934,1,2022-01-31 18:13:36,2022-01-31 18:24:50,NaN,1.80,NaN,None,163,263,0,9.00,1.0,0.5,4.66,0.0,0.3,17.96,NaN,NaN
2462935,1,2022-01-31 18:07:38,2022-01-31 18:19:22,NaN,2.20,NaN,None,100,143,0,10.00,1.0,0.5,2.86,0.0,0.3,17.16,NaN,NaN

In [19]:
print(pd.io.sql.get_schema(df, name="ny_taxi_data"))

CREATE TABLE "ny_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [20]:
# We change datetime from text
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
# Postgres engine for connection
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name="ny_taxi_data", con=engine))

CREATE TABLE ny_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [23]:
# Create table columns
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

In [24]:
# Insert data into table
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

CPU times: user 206 ms, sys: 74.4 ms, total: 280 ms
Wall time: 813 ms